html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.sans {
  font-family: sans-serif;
}

.cursive {
  font-family: 'Courier New', Courier, monospace;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 60px;
}

.font-serif-regular {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.font-serif {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

.w-90 {
  width: 85% !important;
}

.cart-quant {
  top: -15px;
  right: 0px;
  font-size: 14px;
}

.ht-md {
  height: 200px;
}

.ht-lg {
  height: 400px;
}

.ht-full{
  height: 100vh;
}

.ht-xl {
  height: 600px;
}

.rounded-10 {
  border-radius: 15px;
}

.navbar-cart-img {
  height: 100px;
  width: 100px;
}

.add-cart-img {
  height: 60px;
  width: 60px;
}

.pointer {
  cursor: pointer;
}

.default {
  cursor: default !important;
}

.z-10 {
  z-index: 10;
}

.text-sm {
  font-size: 12px;
}

.text-blue {
  color: rgb(20, 87, 95);
}

.text-black,
.text-black:hover {
  color: black !important;
}

.op-5 {
  opacity: .5;
}

.bg-lgrey {
  background-color: rgb(201, 201, 201);
}

.top-2 {
  top: 2px;
}

.start-2 {
  left: 2px;
}

.top-40 {
  top: 40%;
}

.bg-none{
  background: none;
  border: none;
}

.abs-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-ddark{
  background-color: black !important;
}